<h2>Uncategorized Transactions</h2>
<%= render partial: 'shared/dashboard_transactions',
           locals: {
             show_category: true,
             select_categories: @categories
            }
%>
