<div class="container">
  <div class="row">
    <div class="col-md-5">
      <h2>1. Sign Up</h2>
    </div>
    <div class="col-md-7">
      <span data-feather="log-in" class="text-muted" style="width: 100%; height: 35%;"></span>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-5">
      <h2>2. Create bank accounts</h2>
    </div>
    <div class="col-md-7">
      <span data-feather="dollar-sign" class="text-muted" style="width: 100%; height: 35%;"></span>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-5">
      <h2>3. Create categories</h2>
    </div>
    <div class="col-md-7">
      <span data-feather="archive" class="text-muted" style="width: 100%; height: 35%;"></span>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-5">
      <h2>4. Create category rules</h2>
    </div>
    <div class="col-md-7">
      <span data-feather="filter" class="text-muted" style="width: 100%; height: 35%;"></span>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-5">
      <h2>5. Upload transactions</h2>
    </div>
    <div class="col-md-7">
      <span data-feather="upload-cloud" class="text-muted" style="width: 100%; height: 35%;"></span>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-5">
      <h2>Done!</h2>
    </div>
    <div class="col-md-7">
      <span data-feather="check-circle" class="text-muted" style="width: 100%; height: 35%;"></span>
    </div>
  </div>
  <hr>
</div>
