<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
  <h1>Overview</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
      <button class="btn btn-sm btn-outline-secondary">Share</button>
      <button class="btn btn-sm btn-outline-secondary">Export</button>
    </div>
    <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
      <span data-feather="calendar"></span>
      This week
    </button>
  </div>

</div>
<h2>Net Worth</h2>
<%= area_chart_helper @bank_account_sums %>
<hr>
<h2>Incoming vs Outgoing</h2>
<%= donut_chart_helper @bank_transaction_directionals %>
<hr>
<h2>Category Breakdown</h2>
<%= column_chart @bank_transactions_by_category %>
