<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
  <h1>Overview</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
      <button class="btn btn-sm btn-outline-secondary">
        <span data-feather="skip-back"></span>
        Prev
      </button>
      <button class="btn btn-sm btn-outline-secondary">
        Next
        <span data-feather="skip-forward"></span>
      </button>
    </div>
    <div class="dropdown mr-5">
      <button class="btn btn-sm btn-outline-secondary dropdown-toggle" data-toggle="dropdown">
        <span data-feather="calendar"></span>
        All time
      </button>
      <div class="dropdown-menu">
        <a class='btn btn-sm btn-block btn-outline-secondary' href='#'>
          <span data-feather="calendar"></span>
          Yearly
        </a>
        <a class='btn btn-sm btn-block btn-outline-secondary' href='#'>
          <span data-feather="calendar"></span>
          Monthly
        </a>
        <a class='btn btn-sm btn-block btn-outline-secondary' href='#'>
          <span data-feather="calendar"></span>
          Weekly
        </a>
      </div>
    </div>
  </div>

</div>
<h2>Net Worth</h2>
<%= area_chart_helper @bank_account_sums %>
<hr>
<%= render 'shared/dashboard_chart_incoming_outgoing' %>
<%= render 'shared/dashboard_chart_category_breakdown' %>
